.whats-next {
    &__container {
        background-color: #F2D338;
        height: 100vh;
        width: 100vw;
        font-family: 'Lato', sans-serif;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__section-container {
        max-width: 520px;
        margin-top: 50px; 
    }

    &__title-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 40px;
        max-width: 300px;
        margin: 0;
    }

    &__icon {
        padding: 20px;
        border-radius: 100%;
        border: 4px solid black;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
        font-size: 40px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form {
        &__container {
            display: flex;
            justify-content: center;
        }

        &__input {
            margin-bottom: 20px;
            width: 80%;
            border: 0;
            border-radius: 20px;
            height: 30px;
            text-align: center;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        }

        &__label {
            height: 0;
            width: 0;
            overflow: hidden;
        }
    }

    &__search {
        &-list {
            display: flex;
            list-style: none;
            padding: 20px 0;
            margin: 0;
            overflow-x: auto;
        }

        &-item {
            margin-left: 20px;
            transition: 0.5s transform ease;
            &:first-child {
                margin-left: 0;
            }
            &:hover {
                background: rgba(138, 166, 191, 0.70);
                transform: scale(1.1);
            }
            &--selected {
                background: rgba(138, 166, 191, 0.90);
                border: 4px solid rgb(138, 166, 191);
            }
        }

        &-image {
            height: 200px;
            width: 150px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &-title {
            max-width: 180px;
            text-align: center;
            margin: 10px 0 0;
            padding: 0 10px 10px;
        }
    }

    &__favorite {
        &-title {
            font-size: 20px;
            font-weight: 800;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &-item {
            padding: 10px;
            background-color: rgb(138, 166, 191);
            margin: 0 10px 10px 0;
            border-radius: 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__selection {
        &__container {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }

        &__title {
            font-size: 20px;
            font-weight: 800;
        }

        &__button {
            justify-self: flex-end;
            font-family: 'Lato', sans-serif;
            border: 0;
            background-color: #EBEFF2;
            border-radius: 20px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        }
    }
}