.home__tea--button {
  padding: 10px 20px;
  background-color: rgb(7, 53, 204);
  color: white;
  border-radius: 10px;
  border: solid 2px transparent;
  display: inline-block;
  transition: ease 0.4s;
  cursor: pointer;
  &:hover {
    background-color: white;
    border: solid 2px rgb(7, 53, 204);
    color: rgb(7, 53, 204);
  }
}

// -------------------- CHATBOT ---------------------------

.home__chatbot {
  position: fixed;
  bottom: 0;
  right: 0;
  border: solid 2px black;
}

.closed {
  height: 150px;
  width: 130px;
  transition: height 2s, width 2s;
}

.open {
  height: 400px;
  width: 330px;
  transition: height 2s, width 2s;
}

.chatbot__close {
  height: 20px;
  width: 20px;
  background-color: red;
}

.home__chatbot--closed {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  .home__chatbot--closed-cid {
    height: 62px;
    width: 50px;
    border-radius: 60%;
    background-color: lightpink;
    position: relative;

    .cid__hood {
      height: 70px;
      width: 60px;
      background-color: darkgray;
      border-radius: 59% 59% 10% 10% / 99% 99% 0% 0%;
      position: absolute;
      z-index: -1;
      top: -5px;
      left: -5px;
    }

    .cid__helmet {
      height: 35px;
      width: 48px;
      background-color: darkgrey;
      border-radius: 50% 50% 10% 10% / 99% 99% 0% 0%;
      position: absolute;
      top: -20px;
      left: 1px;
    }

    .cid__helmet::before {
      content: "";
      display: block;
      height: 10px;
      width: 50px;
      border-radius: 2px;
      background-color: gray;
      position: absolute;
      top: 25px;
      left: -1px;
    }

    .cid__helmet::after {
      content: "";
      display: block;
      height: 10px;
      width: 7px;
      border-radius: 1px;
      background-color: gray;
      position: absolute;
      top: 31px;
      left:21px;
    }

    .cid__left-eye {
      height: 7px;
      width: 5px;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top: 18px;
      left: 15px;
    }

    .cid__right-eye {
      height: 7px;
      width: 5px;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top: 18px;
      left: 30px;
    }

    .cid__nose {
      height: 7px;
      width: 11px;
      border: solid 1px black;
      border-radius: 50%;
      position: absolute;
      top: 24px;
      left: 19px;
    }

    .cid__beard {
      position: absolute;
      width: 40px;
      height: 45px;
      // border-radius: 55% 55% 50% 50% / 60% 60% 50% 50%;
      border-radius: 70% 70% 70% 70% / 80% 80% 50% 50%;
      background-color: brown;
      left: 6px;
      top: 30px;
    }
    .cid__mouth {
      height: 8px;
      width: 15px;
      background-color: lightpink;
      border-radius: 50%;
      position: absolute;
      top: 37px;
      left: 18px;
    }

    .cid__mouth::before {
      content: "";
      display: block;
      height: 7px;
      width: 10px;
      position: absolute;
      top: -3px;
      left: 3px;
      border-bottom: solid 1px black;
      border-radius: 36%;
    }

  }
  .home__chatbot--closed-text {
    margin-top: 20px;
  }
}


// -------------------- END CHATBOT ---------------------------

.beer__btn {
    background-color: lightgreen;
    width: 250px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
}

.beer__btn_text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
