.beer__btn {
    background-color: lightgreen;
    width: 250px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
}

.beer__btn_text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}