 .chat {
  width: 330px;
  height: 90%;
  position: fixed;
  overflow: scroll;
  background: #ebeff2;
 }
 .actions {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
 }
 .actions input{
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
 }
 .messages {
   position: absolute;
   bottom: 295px;
   width: 100%;
 }
 .messages div {
  max-width: 50%;
  width: auto;
  display: block;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 10px;
 }

 .messages .bot {
  background-color: #8aa6bf;
  text-align: left;
  color: #010326;
}

.messages .self {
  background-color: #d9b23d;
  text-align: right;
  margin-left: auto;
  color: #010326;
}